<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 Mkflow
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level] %d{HH:mm:ss} %logger{36}:%L - %msg%n}" disableAnsi="false"/>
        </Console>
        <File name="tmpFile" fileName="/tmp/output.log" bufferedIO="false" advertiseURI="file://tmp/output.log"
              advertise="true">
            <PatternLayout pattern="%highlight{[%-5level] %d{HH:mm:ss} %logger{36}:%L - %msg%n}" disableAnsi="false"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.mkflow" level="DEBUG" additivity="false">
            <Appender-ref ref="Console" level="DEBUG"/>
            <Appender-ref ref="tmpFile" level="DEBUG"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <Appender-ref ref="tmpFile"/>
        </Root>
    </Loggers>
</Configuration>